body, html {
    height: 100%;
  }
  .bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-top: -175px;
    margin-left: -100px;
    color: white;
  }